asgiref==3.11.1
certifi==2026.2.25
chardet==4.0.0
charset-normalizer==3.4.1
click==8.3.3
colorama==0.4.6
cssbeautifier==1.15.4
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.3
django-extensions==4.1
djlint==1.36.4
docutils==0.21.2
EditorConfig==0.17.1
filelock==3.20.0
filetype==1.2.0
gunicorn==25.3.0
idna==2.10
Jinja2==3.0.1
jsbeautifier==1.15.4
json5==0.14.0
# Kivy==2.3.1 (not needed for web)
# Kivy-examples==2.3.1
# Kivy-Garden==0.1.5
MarkupSafe==2.0.1
packaging==26.2
pathspec==1.1.1
pillow==10.4.0
platformdirs==4.5.0
psycopg2-binary==2.9.12
pydot==4.0.1
pydotplus==2.0.2
Pygments==2.19.1
pyparsing==3.3.2
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.4.4
requests==2.25.1
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.3
urllib3==1.26.6
virtualenv==20.35.4
whitenoise==6.11.0
