{% extends 'Registration/base_admin.html' %}
{% load static %}

{% block page_title %}Registrar Nuevo Personal{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/form_personal.css' %}">

<div class="form-container">
    <div class="form-card">
        <div class="form-header">
    <i class="fa-solid {% if edit_mode %}fa-user-pen{% else %}fa-user-plus{% endif %}"></i>
    <h3>{% if edit_mode %}Editar Personal: {{ usuario.get_full_name }}{% else %}Datos del Nuevo Usuario{% endif %}</h3>
    <p>{% if edit_mode %}Actualice la información del administrativo.{% else %}Complete la información para dar de alta a un nuevo administrativo.{% endif %}</p>
</div>

        <form method="post" novalidate>
            {% csrf_token %}
            
            <div class="grid-form">
                {% for field in form %}
                    <div class="form-group {% if field.name == 'rol' or field.name == 'email' %}full-width{% endif %}">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <span class="help-text">{{ field.help_text }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="error-text">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-save">
                    <i class="fa-solid fa-check"></i> Finalizar Registro
                </button>
                <a href="{% url 'list_personal' %}" class="btn-cancel">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'accounts/js/form_personal.js' %}"></script>
{% endblock %}